<head>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="p-5  w3-display-topright" style="width:100wh;">
<div>
<a href="/Identity/Account/Register"><RadzenButton  class="P-5" Shade="Shade.Light"  Text="Registrarse" ButtonStyle="ButtonStyle.Warning" /></a>
<a href="/Identity/Account/login"><RadzenButton class="P-5" Shade="Shade.Dark" Text="Iniciar Sesion" ButtonStyle="ButtonStyle.Warning" /></a>
</div>
</div>
<div class="p-5 text-white text-center " style="height:91vh; background-image: linear-gradient(180deg, #212529 0%, #22282A 70%);">
<div style="padding:10px; diplay:flex;" class="w3-display-middle">
        <svg width="100%" height="50vh" viewBox="0 0 200 200 " fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M47.3761 25V6.81818H54.8867C56.248 6.81818 57.4228 7.08452 58.4112 7.61719C59.4055 8.14394 60.172 8.8808 60.7106 9.82777C61.2492 10.7688 61.5185 11.8638 61.5185 13.1126C61.5185 14.3673 61.2433 15.4652 60.6928 16.4062C60.1483 17.3414 59.37 18.0664 58.358 18.5813C57.3459 19.0962 56.1444 19.3537 54.7536 19.3537H50.1193V15.8913H53.9368C54.5997 15.8913 55.1531 15.7759 55.5969 15.5451C56.0468 15.3143 56.3871 14.9917 56.6179 14.5774C56.8487 14.1572 56.9641 13.6689 56.9641 13.1126C56.9641 12.5503 56.8487 12.065 56.6179 11.6566C56.3871 11.2423 56.0468 10.9227 55.5969 10.6978C55.1471 10.4729 54.5938 10.3604 53.9368 10.3604H51.7706V25H47.3761ZM63.6847 25V11.3636H67.9016V13.8494H68.0437C68.2923 12.9498 68.6977 12.281 69.2599 11.843C69.8222 11.3991 70.4762 11.1772 71.2219 11.1772C71.4232 11.1772 71.6303 11.192 71.8434 11.2216C72.0565 11.2453 72.2547 11.2837 72.4382 11.337V15.1101C72.2311 15.0391 71.9588 14.9828 71.6214 14.9414C71.29 14.9 70.9941 14.8793 70.7337 14.8793C70.2188 14.8793 69.7541 14.9947 69.3398 15.2255C68.9315 15.4504 68.6089 15.767 68.3722 16.1754C68.1413 16.5779 68.0259 17.0514 68.0259 17.5959V25H63.6847ZM79.8645 25.2575C78.4322 25.2575 77.2012 24.9645 76.1713 24.3786C75.1474 23.7867 74.3573 22.964 73.801 21.9105C73.2505 20.8511 72.9753 19.623 72.9753 18.2262C72.9753 16.8235 73.2505 15.5954 73.801 14.5419C74.3573 13.4825 75.1474 12.6598 76.1713 12.0739C77.2012 11.482 78.4322 11.1861 79.8645 11.1861C81.2968 11.1861 82.5249 11.482 83.5488 12.0739C84.5787 12.6598 85.3688 13.4825 85.9192 14.5419C86.4756 15.5954 86.7537 16.8235 86.7537 18.2262C86.7537 19.623 86.4756 20.8511 85.9192 21.9105C85.3688 22.964 84.5787 23.7867 83.5488 24.3786C82.5249 24.9645 81.2968 25.2575 79.8645 25.2575ZM79.8912 21.9815C80.412 21.9815 80.8529 21.8217 81.214 21.5021C81.575 21.1825 81.8502 20.7386 82.0396 20.1705C82.2349 19.6023 82.3326 18.9453 82.3326 18.1996C82.3326 17.442 82.2349 16.7791 82.0396 16.2109C81.8502 15.6428 81.575 15.1989 81.214 14.8793C80.8529 14.5597 80.412 14.3999 79.8912 14.3999C79.3526 14.3999 78.8968 14.5597 78.524 14.8793C78.157 15.1989 77.8759 15.6428 77.6806 16.2109C77.4912 16.7791 77.3965 17.442 77.3965 18.1996C77.3965 18.9453 77.4912 19.6023 77.6806 20.1705C77.8759 20.7386 78.157 21.1825 78.524 21.5021C78.8968 21.8217 79.3526 21.9815 79.8912 21.9815ZM98.8054 12.2692C98.7462 11.6181 98.4828 11.1121 98.0153 10.7511C97.5536 10.3841 96.8937 10.2006 96.0355 10.2006C95.4673 10.2006 94.9938 10.2746 94.6151 10.4226C94.2363 10.5705 93.9522 10.7747 93.7628 11.0352C93.5734 11.2897 93.4757 11.5826 93.4698 11.9141C93.458 12.1863 93.5112 12.426 93.6296 12.6332C93.7539 12.8403 93.9315 13.0238 94.1623 13.1836C94.399 13.3375 94.6831 13.4736 95.0146 13.592C95.346 13.7103 95.7189 13.8139 96.1332 13.9027L97.6957 14.2578C98.5953 14.4531 99.3884 14.7135 100.075 15.0391C100.767 15.3646 101.347 15.7522 101.815 16.2021C102.288 16.6519 102.647 17.1697 102.889 17.7557C103.132 18.3416 103.256 18.9986 103.262 19.7266C103.256 20.8748 102.966 21.8602 102.392 22.6829C101.818 23.5056 100.992 24.1359 99.9151 24.5739C98.8439 25.0118 97.5507 25.2308 96.0355 25.2308C94.5144 25.2308 93.1887 25.003 92.0582 24.5472C90.9278 24.0915 90.0489 23.399 89.4215 22.4698C88.7942 21.5406 88.4716 20.3658 88.4538 18.9453H92.6619C92.6974 19.5312 92.8543 20.0195 93.1325 20.4102C93.4106 20.8008 93.7924 21.0967 94.2777 21.2979C94.7689 21.4992 95.3371 21.5998 95.9822 21.5998C96.5741 21.5998 97.0772 21.5199 97.4915 21.3601C97.9117 21.2003 98.2343 20.9783 98.4592 20.6942C98.6841 20.4102 98.7995 20.0846 98.8054 19.7177C98.7995 19.3744 98.6929 19.0814 98.4858 18.8388C98.2786 18.5902 97.959 18.3771 97.527 18.1996C97.1009 18.0161 96.5563 17.8474 95.8935 17.6935L93.9936 17.2496C92.4193 16.8886 91.1793 16.3056 90.2738 15.5007C89.3683 14.6899 88.9184 13.5949 88.9244 12.2159C88.9184 11.0914 89.2203 10.1059 89.8299 9.25959C90.4395 8.41323 91.2829 7.75331 92.3601 7.27983C93.4373 6.80634 94.6654 6.5696 96.0444 6.5696C97.453 6.5696 98.6752 6.8093 99.7109 7.28871C100.753 7.76219 101.56 8.42803 102.135 9.28622C102.709 10.1444 103.002 11.1387 103.013 12.2692H98.8054ZM113.179 11.3636V14.5597H104.576V11.3636H113.179ZM106.378 8.09659H110.719V20.712C110.719 20.9783 110.761 21.1944 110.844 21.3601C110.933 21.5199 111.06 21.6353 111.225 21.7063C111.391 21.7714 111.589 21.804 111.82 21.804C111.986 21.804 112.161 21.7892 112.344 21.7596C112.533 21.7241 112.676 21.6945 112.77 21.6708L113.427 24.8047C113.22 24.8639 112.927 24.9379 112.548 25.0266C112.175 25.1154 111.729 25.1716 111.208 25.1953C110.19 25.2427 109.317 25.1243 108.589 24.8402C107.867 24.5502 107.313 24.1004 106.929 23.4908C106.55 22.8812 106.366 22.1147 106.378 21.1914V8.09659ZM121.621 25.2575C120.195 25.2575 118.964 24.9763 117.928 24.4141C116.898 23.8459 116.105 23.038 115.549 21.9904C114.999 20.9369 114.723 19.6851 114.723 18.2351C114.723 16.8265 115.002 15.5954 115.558 14.5419C116.114 13.4825 116.898 12.6598 117.911 12.0739C118.923 11.482 120.115 11.1861 121.488 11.1861C122.459 11.1861 123.347 11.337 124.152 11.6388C124.957 11.9407 125.652 12.3875 126.238 12.9794C126.824 13.5713 127.28 14.3022 127.605 15.1722C127.931 16.0363 128.093 17.0277 128.093 18.1463V19.2294H116.241V16.7081H124.054C124.048 16.2464 123.939 15.8351 123.725 15.4741C123.512 15.113 123.219 14.8319 122.847 14.6307C122.48 14.4235 122.056 14.32 121.577 14.32C121.092 14.32 120.657 14.4295 120.272 14.6484C119.887 14.8615 119.583 15.1545 119.358 15.5273C119.133 15.8943 119.014 16.3116 119.002 16.7791V19.3448C119.002 19.9012 119.112 20.3894 119.331 20.8097C119.55 21.224 119.861 21.5465 120.263 21.7773C120.666 22.0082 121.145 22.1236 121.701 22.1236C122.086 22.1236 122.435 22.0703 122.749 21.9638C123.063 21.8572 123.332 21.7004 123.557 21.4933C123.782 21.2861 123.95 21.0316 124.063 20.7298L128.049 20.8452C127.883 21.7389 127.519 22.5172 126.957 23.18C126.401 23.837 125.67 24.349 124.764 24.7159C123.859 25.0769 122.811 25.2575 121.621 25.2575ZM134.652 6.81818V25H130.311V6.81818H134.652ZM141.756 6.81818V25H137.415V6.81818H141.756ZM148.364 25.2308C147.494 25.2308 146.721 25.0858 146.047 24.7958C145.378 24.4999 144.848 24.056 144.457 23.4641C144.073 22.8664 143.88 22.1177 143.88 21.218C143.88 20.4605 144.014 19.8213 144.28 19.3004C144.546 18.7796 144.913 18.3564 145.381 18.0309C145.848 17.7054 146.387 17.4598 146.997 17.294C147.606 17.1224 148.257 17.007 148.95 16.9478C149.725 16.8768 150.349 16.8028 150.823 16.7259C151.296 16.643 151.64 16.5276 151.853 16.3796C152.072 16.2257 152.181 16.0097 152.181 15.7315V15.6871C152.181 15.2314 152.024 14.8793 151.711 14.6307C151.397 14.3821 150.974 14.2578 150.441 14.2578C149.867 14.2578 149.405 14.3821 149.056 14.6307C148.707 14.8793 148.485 15.2225 148.39 15.6605L144.386 15.5185C144.505 14.6899 144.81 13.95 145.301 13.299C145.798 12.642 146.479 12.1271 147.343 11.7543C148.213 11.3755 149.257 11.1861 150.477 11.1861C151.347 11.1861 152.149 11.2897 152.883 11.4968C153.616 11.698 154.256 11.994 154.8 12.3846C155.345 12.7693 155.765 13.2428 156.061 13.805C156.363 14.3673 156.514 15.0095 156.514 15.7315V25H152.43V23.1001H152.323C152.081 23.5618 151.77 23.9524 151.391 24.272C151.018 24.5916 150.577 24.8313 150.068 24.9911C149.565 25.1509 148.997 25.2308 148.364 25.2308ZM149.704 22.3899C150.172 22.3899 150.592 22.2952 150.965 22.1058C151.344 21.9164 151.646 21.656 151.87 21.3246C152.095 20.9872 152.208 20.5966 152.208 20.1527V18.8565C152.084 18.9216 151.933 18.9808 151.755 19.0341C151.583 19.0874 151.394 19.1377 151.187 19.185C150.98 19.2324 150.767 19.2738 150.548 19.3093C150.329 19.3448 150.119 19.3774 149.917 19.407C149.509 19.4721 149.16 19.5727 148.87 19.7088C148.586 19.8449 148.367 20.0225 148.213 20.2415C148.065 20.4545 147.991 20.709 147.991 21.005C147.991 21.4548 148.151 21.7981 148.47 22.0348C148.796 22.2715 149.207 22.3899 149.704 22.3899ZM159.168 25V11.3636H163.385V13.8494H163.527C163.776 12.9498 164.181 12.281 164.743 11.843C165.306 11.3991 165.96 11.1772 166.705 11.1772C166.907 11.1772 167.114 11.192 167.327 11.2216C167.54 11.2453 167.738 11.2837 167.922 11.337V15.1101C167.714 15.0391 167.442 14.9828 167.105 14.9414C166.773 14.9 166.477 14.8793 166.217 14.8793C165.702 14.8793 165.238 14.9947 164.823 15.2255C164.415 15.4504 164.092 15.767 163.856 16.1754C163.625 16.5779 163.509 17.0514 163.509 17.5959V25H159.168Z" fill="url(#paint0_linear_5_20)"/>
        <path d="M25.7354 2.09086L28.3018 7.22357C28.6476 7.93341 29.5759 8.60685 30.3585 8.75246L34.9998 9.51691C37.9666 10.0083 38.6582 12.1562 36.5287 14.3039L32.9067 17.9259C32.306 18.5265 31.9602 19.7096 32.1604 20.5651L33.1979 25.0425C34.0169 28.5735 32.124 29.9568 29.0116 28.1003L24.6616 25.5158C23.8789 25.0425 22.5684 25.0425 21.7858 25.5158L17.4357 28.1003C14.3233 29.9386 12.4303 28.5735 13.2494 25.0425L14.2869 20.5651C14.4507 19.6914 14.1048 18.5083 13.5042 17.9077L9.88219 14.2857C7.75266 12.1562 8.4443 10.0083 11.4111 9.4987L16.0525 8.73426C16.8351 8.60685 17.7634 7.91521 18.1092 7.20536L20.6755 2.07266C22.077 -0.693911 24.3339 -0.693911 25.7354 2.09086Z" fill="url(#paint1_linear_5_20)"/>
        <path d="M12.2857 3.07144H1.36508C0.618837 3.07144 0 2.45261 0 1.70636C0 0.960115 0.618837 0.341278 1.36508 0.341278H12.2857C13.032 0.341278 13.6508 0.960115 13.6508 1.70636C13.6508 2.45261 13.032 3.07144 12.2857 3.07144Z" fill="url(#paint2_linear_5_20)"/>
        <path d="M6.82541 28.553H1.36508C0.618837 28.553 0 27.9341 0 27.1879C0 26.4417 0.618837 25.8228 1.36508 25.8228H6.82541C7.57166 25.8228 8.19049 26.4417 8.19049 27.1879C8.19049 27.9341 7.57166 28.553 6.82541 28.553Z" fill="url(#paint3_linear_5_20)"/>
        <path d="M3.18519 15.8122H1.36508C0.618837 15.8122 0 15.1934 0 14.4471C0 13.7009 0.618837 13.082 1.36508 13.082H3.18519C3.93144 13.082 4.55027 13.7009 4.55027 14.4471C4.55027 15.1934 3.93144 15.8122 3.18519 15.8122Z" fill="url(#paint4_linear_5_20)"/>
        <defs>
        <linearGradient id="paint0_linear_5_20" x1="55.5" y1="15" x2="163.5" y2="15" gradientUnits="userSpaceOnUse">
        <stop stop-color="#A66314"/>
        <stop offset="1" stop-color="#E5A832"/>
        </linearGradient>
        <linearGradient id="paint1_linear_5_20" x1="14.8141" y1="15" x2="37.5607" y2="15" gradientUnits="userSpaceOnUse">
        <stop stop-color="#A66314"/>
        <stop offset="1" stop-color="#E5A832"/>
        </linearGradient>
        <linearGradient id="paint2_linear_5_20" x1="2.89171" y1="1.75705" x2="13.5549" y2="1.75705" gradientUnits="userSpaceOnUse">
        <stop stop-color="#A66314"/>
        <stop offset="1" stop-color="#E5A832"/>
        </linearGradient>
        <linearGradient id="paint3_linear_5_20" x1="1.73503" y1="27.2386" x2="8.13294" y2="27.2386" gradientUnits="userSpaceOnUse">
        <stop stop-color="#A66314"/>
        <stop offset="1" stop-color="#E5A832"/>
        </linearGradient>
        <linearGradient id="paint4_linear_5_20" x1="0.963904" y1="14.4978" x2="4.5183" y2="14.4978" gradientUnits="userSpaceOnUse">
        <stop stop-color="#A66314"/>
        <stop offset="1" stop-color="#E5A832"/>
        </linearGradient>
        </defs>
        </svg>
        <div class="w3-mobile">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Under_construction_icon-yellow.svg/1242px-Under_construction_icon-yellow.svg.png" style="width:10vh">
        <p>WEB SYSTEM IN CONSTRUCTION</p>
        </div>

        </div>

</div>
<div class="rz-background-color-warning-light " style="height:3vh; ">
</div>
<div class="rz-background-color-warning " style="height:3vh;">
</div>
<div class="rz-background-color-warning-dark " style="height:3vh;">
</div>
</body>

@code{

}